################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VerificationsService/bin/Debug/netcoreapp3.1
/VerificationsService/obj
